.loader-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 7;
  z-index: -1;
  transition: opacity 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.loader-wrapper .loader {
  height: 50px;
  width: 50px;
}

.loader-wrapper.is-active {
  opacity: 1;
  z-index: 1;
}