.App {
  text-align: center;
  background-color: #ffc300;
  height: 150vh;
  background: cover;
};
.logoImg{
  object-fit: contain;
  padding: 0 rem;
};
.card-content{
  text: orangered;
}
ItemListContainer{
  padding: 3px;
}
.cardDetail{

  margin: 50px;

}
.card-header{
  box-shadow: none;
}
